.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* 888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

* {
    box-sizing: border-box;
    font-family: Raleway-Bold, Raleway;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 12px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    /* For mobile phones: */
    .footer {
        float: right;
        position: relative;
    }
}


/* title start  */

.aaaaaaaa {
    border: 1px gray solid;
}

.help {
    text-align: right;
}


/* title end  */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title>* {
    margin-left: 20px;
}

.title>img {
    height: initial;
    width: initial;
}


/* 
.search-box {
  border: 1px grey solid;
  height: 15px;
  margin: 20px;
  border-radius: 5px;
  width: 30%;
} */

.user-login {
    width: initial;
    height: initial;
}

.help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.help h3 {
    color: black;
}

.user-login h3 {
    color: black;
}


/* reviews start */

.reviews-header {
    border-radius: 5px;
}

.reviews-header h2 {
    color: red;
    text-align: left;
    /* correct it, it is not red */
}

.reviews-header p:nth-child(-n + 2) {
    color: black;
    font-weight: 800;
    font-size: 12;
    text-align: left;
}

.review-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0px;
}

.review-input>* {
    margin-top: 0px;
}

.customer-review-header {
    text-align: left;
}


/* review rating start  */

.rating {
    display: flex;
    justify-content: right;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating>input {
    display: none;
}

.rating>label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("./images jpg/Reviews/whiteStar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: 0.3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
    background-image: url("./images jpg/Reviews/redStar.svg");
}

.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
    background-image: url("./images jpg/Reviews/redStar.svg");
}


/* review rating end  */

.submit-review {
    border-radius: 20px;
    background-color: red;
    color: white;
    border: 0px;
    font-weight: 800;
    min-width: 100px;
    max-width: 100px;
    margin-left: 10px;
    margin-top: 15px;
}

.submit-review:hover {
    cursor: pointer;
}

.reviews-header>* {
    margin: 0px;
}

.user-review-container>* {
    padding: 10px 0px;
    margin: 0px;
}

.reviews-header h2 {
    color: red;
}

.user-rating {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    text-align: left;
}


/* .user {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  text-align: left;
} */

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .review-input {
        padding-left: 0px;
        padding-right: 0px;
    }
    .review-input p {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* reviews end  */

.main {
    /* align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
    display: grid;
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". main-container . ";
}

.main-container {
    grid-area: main-container;
}


/* heading start */


/* heading, left image anmd details start */

.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
    min-width: 300px;
    border: 1px gray solid;
    border-radius: 10px;
}

.left-details {
    white-space: nowrap;
}

.left-items img {
    max-width: 220px;
    max-height: 220px;
    min-width: 220px;
    min-height: 220px;
}

.left-details p {
    padding: 5px;
    margin: 0px;
    word-wrap: normal;
}

h3 {
    color: gray;
    padding: 0px;
    margin: 5px 0px;
}

.location {
    font-weight: 500;
}


/* heading, left image and details end  */


/* heading, right details start */

.right-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 900;
}

.right-items ul {
    float: right;
    text-align: right;
    border: 1px solid gray;
    padding: 20px 0px 25px 0px;
    margin: 0px;
    overflow: hidden;
    flex-basis: content;
    width: fit-content;
    min-width: 400px;
}

ul::before {
    content: "";
    clear: both;
    display: table;
}

.right-items li {
    list-style-type: none;
    display: inline;
    padding: 30px 12px;
}

.right-items a {
    text-decoration: none;
    color: gray;
}

.right-items p {
    text-align: right;
}

.right-items li:hover {
    background-color: red;
}


/* heading, right details end */


/* heading end  */


/* left navbar start  */

.leftMenu {
    border: 1px gray solid;
    border-radius: 10px;
    padding: 0px;
    margin: 15px 15px 0px 0px;
    overflow: hidden;
    width: auto;
    text-align: left;
    font-size: 1vw;
}

.leftMenu li {
    list-style-type: none;
    border: 5px white solid;
    padding: 8px 60px 8px 25px;
    margin: 5px;
}

.leftMenu li:hover {
    background-color: #f8ebeb;
    border: 5px #f8ebeb solid;
    border-left: 5px red solid;
    cursor: pointer;
}

.leftMenu a {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    color: #383434;
    /* font-size: 0.9vw; */
}

.leftMenu Link {
    display: block;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .leftMenu-container {
        width: 100%;
    }
    .content {
        width: 100%;
        padding: 0px;
    }
}


/* left navbar end  */

.content {
    border: 1px solid gray;
    margin: 15px 0px 0px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.content-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
}

.content-title {
    margin-left: 15px;
    text-align: left;
    color: red;
}

.content .food-img {
    max-width: 150px;
    max-height: 150px;
    width: 12vw;
    height: 12vw;
    min-width: 150px;
    min-height: 150px;
}

.info {
    margin-left: 10px;
    text-align: left;
}

.info-title {
    margin-bottom: 15px;
    color: black;
}

.left-image {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
}

.green-dot {
    max-width: 30px;
    max-height: 30px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.price {
    color: gray;
    margin-bottom: 50px;
}

.price h1 {
    margin: 0px;
}

.add-to-cart button {
    border-radius: 20px;
    font-size: medium;
    padding: 10px 30px;
    background-color: red;
    color: white;
    border: 0px;
}

.add-to-cart button:hover {
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0px;
}

.order-details {
    margin-bottom: 80px;
}

.footer {
    border-top: 2px solid gray;
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding-bottom: 10px;
}

.orders h1 {
    float: left;
    margin: 0px;
    white-space: nowrap;
}

.total h1 {
    margin: 0px;
    float: right;
    white-space: nowrap;
}

@media only screen and (max-width: 1300px) {
    /* For mobile phones: */
    .container {
        width: 95%;
    }
    .left-image,
    .info {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .price {
        margin-bottom: 0px;
    }
    .right {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .content-card {
        flex-direction: column;
        padding: 0px;
    }
    .right>* {
        margin: 0px 10px;
    }
    .left>* {
        margin: 0px 8px;
    }
}


/* content end  */

.proceed {
    border-radius: 20px;
    font-size: x-large;
    padding: 10px 30px;
    background-color: red;
    color: white;
    border: 0px;
    margin-top: 10px;
}

.proceed:hover {
    cursor: pointer;
}


/* videos start  */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    max-height: auto;
    min-height: auto;
    min-width: auto;
    margin: 20px 2%;
    text-align: center;
    padding: 20px;
    float: left;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.videos {
    margin: 15px 0px 0px 0px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    padding: 20px;
    width: 100%
}

.desc {
    white-space: pre-wrap;
    color: gray;
    font-size: larger;
}

.videos-header {
    text-align: left;
    color: red;
}

@media only screen and (max-width: 500px) {
    .videos {
        width: 100%;
    }
}


/* videos end  */


/* CSS GRID START  */


/* main container css grid start  */

.main-container {
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-columns: 0.1fr 0.15fr 0.45fr 0.45fr 0.1fr;
    grid-template-rows: 0.1fr 0.3fr auto auto;
    /* grid-template-columns: repeat(4, 1fr);
   grid-template-rows:  repeat(4, 1fr); */
    grid-template-areas: "main-title main-title main-title main-title  main-title" " . main-header main-header main-header . " " . main-navigation main-content main-content . " " . . main-content main-content . ";
    /* align-items: start; */
}

.main-title {
    grid-area: main-title;
    margin: 20px 0px 40px 0px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main-header;
    font-size: 0.9vw;
}

.main-navigation {
    grid-area: main-navigation;
}

.main-content {
    grid-area: main-content;
    /* border: 1px gray solid; */
    border-radius: 5px;
    /* margin-top: 15px ; */
    padding: 0px;
}

@media only screen and (max-width: 800px) {
    .main-container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.1fr 0.5fr 0.5fr 1fr; */
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "main-title" "main-header" "main-navigation" "main-content";
        /* grid-row-gap: 5px; */
    }
    .main-navigation a {
        text-align: center;
        color: #383434;
        font-size: 5vw;
        display: block;
    }
    .main-navigation li {
        padding: 0px;
    }
}

.main-title {
    display: grid;
    grid-template-columns: 0.1fr 0.2fr 0.60fr 0.1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo company-name search-box help user-login";
    height: fit-content;
    gap: 20px;
}

.main-title>* {
    width: auto;
}

@media only screen and (max-width: 800px) {
    .main-title {
        grid-template-columns: 0.2fr 1fr 0.5fr 0.3fr 0.3fr;
        gap: 10px;
    }
    .main-title>* {
        font-size: 16px;
    }
}

.main-title>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img,
.company-name img,
.help img,
.user-login img {
    grid-area: logo;
    min-width: 10px;
    min-height: 10px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 800px) {
    .help>*,
    .user-login>* {
        height: auto;
        width: auto;
        object-fit: contain;
        font-size: smaller;
    }
    /* .main-title {
        grid-template-columns: 0.1fr 0.3fr 0.2fr 0.15fr 0.2fr;
    } */
    .search {
        width: 80%;
    }
}

.logo {
    width: 100%;
    height: auto;
}

.help,
.user-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.company-name {
    grid-area: company-name;
}

.search-box {
    grid-area: search-box;
    border: 1px solid gray;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0.4fr 0.1fr 0.6fr 0.1fr 0.2fr;
    grid-template-rows: auto;
    grid-template-areas: "search-box-left vl1 search-box-center vl2 search-box-right";
}

.vl1 {
    grid-area: vl1;
    border-left: 1px solid #E54E51;
    height: 80%;
}

.vl2 {
    grid-area: vl2;
    border-left: 1px solid #E54E51;
    height: 80%;
}

.search-box-left {
    grid-area: search-box-left;
}

.search-box-center {
    grid-area: search-box-center;
    min-width: 50px;
}

.search-box-right {
    grid-area: search-box-right;
}

.search-btn {
    border: none;
    background-color: white;
    width: auto;
}

.search-box>* {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.search {
    width: 100%;
    border: none;
    font-size: 25px;
    color: gray;
    font-weight: 300;
}

.location-list {
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #E94E53;
}

.search-box-right img {
    margin-right: 50px
}

.help {
    grid-area: help;
}

.user-login {
    grid-area: user-login;
}

@media only screen and (max-width: 800px) {
    /* .search-box-left,
    .search-box-center,
    .vl1,
    .vl2 {
        display: none;
        background-color: red;
    } */
    .search-box-right {
        /* background-color: #282c34; */
        margin-right: 20px;
    }
    .search-box-right img {
        margin: 0px;
    }
    .search-box,
    .vl1,
    .vl2 {
        border: none;
    }
    .location-list {
        font-size: 16px;
    }
}


/* main container css grid end  */


/* header grid css start  */

.header {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: repeat(4, 0.2fr);
    grid-template-areas: "header-img header-info-title header-rating" "header-img header-info-details1 header-reviews" "header-img header-info-details2 header-weeks-menu" "header-img . header-week";
    border: 1px solid gray;
    border-radius: 10px;
    padding: 25px;
    grid-column-gap: 3vw;
    overflow: hidden;
    font-size: 1vw;
}

.header-img {
    grid-area: header-img;
    height: 100%;
    width: auto
}

.header-img img {
    height: inherit;
    height: 100%;
    width: auto
}

.header-info-title {
    grid-area: header-info-title;
}

.header-info-details1 {
    grid-area: header-info-details1;
}

.header-info-details2 {
    grid-area: header-info-details2;
}

.header-rating {
    grid-area: header-rating;
}

.header-reviews {
    grid-area: header-reviews;
}

.header-weeks-menu {
    grid-area: header-weeks-menu;
}

.header-week {
    grid-area: header-week;
}

.header-info-title h2 {
    margin-top: 5px;
    font-size: 2vw;
}

.header-info-title,
.header-info-details1,
.header-info-details2 {
    text-align: left;
}

.header-rating,
.header-reviews,
.header-weeks-menu,
.header-week {
    text-align: right;
    color: black;
    font-weight: 600;
}

.header-info-details1>*,
.header-reviews>*,
.header-weeks-menu>* {
    font-size: 1.4vw;
    margin: 0px;
}

.header-rating img {
    max-height: 2vw;
}

.header-weeks-menu {
    font-size: medium;
}

.header-week li {
    list-style-type: none;
    display: inline;
    padding: 30px 12px;
}

.header-week a {
    text-decoration: none;
    color: gray;
}

.header-week p {
    text-align: right;
}

.header-week li:hover {
    background-color: red;
    cursor: pointer;
}

.header-week ul {
    float: right;
    text-align: right;
    border: 1px solid gray;
    padding: 20px 0px 25px 0px;
    margin: 0px;
    overflow: hidden;
    flex-basis: content;
    width: fit-content;
}

@media only screen and (max-width: 1050px) {
    .header {
        margin: 10px;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.2fr repeat(2, 0.5fr) 0.1fr 0.1fr 0.1fr;
        grid-template-areas: "header-img header-info-title" "header-img header-info-details1" "header-img header-info-details2" "header-rating header-reviews" "header-weeks-menu ." "header-week header-week";
        grid-row-gap: 5px;
        grid-column-gap: 20px;
        padding: 10px;
    }
    .header-rating,
    .header-reviews,
    .header-weeks-menu,
    .header-info-title,
    .header-info-details1,
    .header-info-details2,
    .header-week {
        height: auto;
        text-align: center;
        font-size: 3.2vw;
    }
    .header-weeks-menu>*,
    .header-reviews>* {
        font-size: large;
        margin: 5px
    }
    .header-info-details1>* {
        font-size: 3vw;
    }
    .header-info-title h2 {
        font-size: 5vw;
    }
    .header-img img {
        max-height: 35vw;
    }
    .header-rating img {
        margin-top: 10px;
        max-height: 5vw;
    }
    .header-week ul {
        font-size: 2.2vw;
    }
    .header-week {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* header grid css end  */


/* Reviews grid css start  */

.review-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 0.5fr 0.7fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.3fr 0.1fr 0.1fr auto;
    grid-template-areas: "reviews-header reviews-header reviews-header" "rate-your-experience-header rate-your-experience-rating ." "submit-review-header submit-review-input submit-review-button" "customer-reviews . . " "rating-and-total-reviews . . " "user-reviews user-reviews user-reviews ";
    grid-column-gap: 10px;
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    ;
    padding: 20px;
}

.reviews-header {
    grid-area: reviews-header;
    margin-bottom: 10px;
}

.reviews-header h2 {
    font-size: 2vw;
}

.rate-your-experience-header {
    grid-area: rate-your-experience-header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rate-your-experience-rating {
    grid-area: rate-your-experience-rating;
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px;
}

.submit-review-header {
    grid-area: submit-review-header;
}

.submit-review-input {
    grid-area: submit-review-input;
}

.submit-review-button {
    grid-area: submit-review-button;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.customer-reviews {
    grid-area: customer-reviews;
    color: gray;
}

.rating-and-total-reviews {
    grid-area: rating-and-total-reviews;
}

.user-review-container {
    grid-area: user-review-container;
}

.user-reviews {
    grid-area: user-reviews;
    height: auto;
}

.rate-your-experience-header>*,
.submit-review-header>*,
.customer-review-header,
.total-reviews {
    font-size: 1.3vw
}

.submit-review-header,
.rate-your-experience-header,
.customer-reviews {
    text-align: left;
    font-weight: 400;
    font-size: large;
}

.submit-review-header>* {
    margin-top: 0px;
}

.rating label {
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
}

.submit-review-input .input-area {
    height: 90%;
    width: 90%;
    border-radius: 5px;
    border: 1px solid gray;
}

.submit-review-button button {
    height: 30px;
    margin-top: 0px;
}

.rating-and-total-reviews-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-review-container {
    display: grid;
    grid-template-columns: 0.1fr 0.7fr 0.3fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "profile-pic user-name review-date" "user-rating-img user-rating-status . " " . user-review user-review" "review-line review-line review-line ";
}

.user-review-container>* {
    font-size: large;
}

.user-rating-img {
    grid-area: user-rating-img;
    max-width: 60px;
    min-width: 80px;
    min-height: 20px;
    max-height: 80px;
}

.user-rating-status {
    grid-area: user-rating-status;
    font-weight: 600;
}

.user-review {
    grid-area: user-review;
    text-align: left;
    word-wrap: break-word;
    color: gray;
}

.review-date {
    grid-area: review-date;
    text-align: right;
    color: black
}

.user-name {
    grid-area: user-name;
}

.profile-pic {
    grid-area: profile-pic;
    height: initial;
    width: initial;
}

.user-name {
    color: gray;
}

.review-line {
    height: 0px;
    padding: 0px;
    margin: 12px 0px;
}

.user-rating-status,
.user-name {
    text-align: left;
}

.reviews-rating {
    max-width: 80px;
    min-width: 60px;
    min-height: 20px;
    max-height: 80px;
}

.user-reviews {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1050px) {
    .review-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, auto);
        grid-template-areas: "reviews-header reviews-header" "rate-your-experience-header rate-your-experience-rating" "submit-review-header .  " "submit-review-input submit-review-input " "submit-review-button . " "customer-reviews . " "rating-and-total-reviews . " "user-reviews user-reviews";
        grid-row-gap: 10px;
        width: 100%;
    }
    .review-container>* {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .submit-review-button button {
        margin-top: 10px;
    }
    .submit-review {
        margin-left: 0px;
    }
    .submit-review-header>*,
    .rate-your-experience-header>*,
    .customer-reviews>*,
    .total-reviews {
        text-align: left;
        font-weight: 400;
        font-size: 4vw;
    }
    .reviews-header h2 {
        font-size: 5vw;
    }
    .user-review-container>* {
        font-size: large;
    }
}


/* Reviews grid css end  */


/* CSS GRID END  */


/* Quote start */

.quote-price {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.2fr 0.3fr 0.2fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 0.3fr 1fr;
    grid-template-areas: "what-eat what-eat . . . search-icon" "what-eat-input what-eat-input what-eat-input what-eat-input what-eat-input what-eat-input " "quote-price-label quote-price-label . pay . blank-input" "radio radio . . date calendar-icon" ".  quote-confirm . . . .";
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 746px;
}

.what-eat {
    grid-area: what-eat;
}

.search-icon {
    grid-area: search-icon;
}

.what-eat-input {
    grid-area: what-eat-input;
}

.quote-price-label {
    grid-area: quote-price-label;
    white-space: nowrap;
    /* font-size: 2vw; */
}

.pay {
    grid-area: pay;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.blank-input {
    grid-area: blank-input;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.radio {
    grid-area: radio;
    max-width: 400px;
    font-size: 18px;
}

.date {
    grid-area: date;
    white-space: nowrap;
}

.calendar-icon {
    grid-area: calendar-icon;
}

.quote-confirm {
    grid-area: quote-confirm;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.quote-price>* {
    margin: 5px;
}

.quote-price input {
    border: none;
    border-bottom: 1px solid gray;
}

.blank-input input {
    width: 40px;
}

.pay input {
    width: 80px;
}

.what-eat-input input[type="text"] {
    width: 100%;
}


/* radio labels */

.radio ul {
    list-style: none;
    border: 1px solid red;
    overflow: hidden;
    margin-bottom: 0px;
    max-width: fit-content;
    padding: 0px;
}

.radio li {
    display: inline-block;
    text-align: center;
}

.radio input {
    visibility: hidden;
}

.radio label {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
}

.radio input:checked+label {
    background: red;
    color: white
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.quote-confirm button {
    background-color: #E54E51;
    color: white;
    border-radius: 40px;
    border: 1px solid grey;
    font-size: 25px;
    padding: 10px 30px;
    font-weight: 600;
}


/* radio labels */

.highlight-above-quote p,
.highlight-above-quote span {
    background-color: #E54E51;
    font-size: 3vw;
    color: white;
    padding: 10px;
    margin: 0px;
}

.highlight-above-quote {
    margin-bottom: 100px;
}

.highlight-above-quote span {
    background-color: #E54E51;
}


/*Quote end  */


/* landing heading strat  */

.mainbg {
    background-image: url("images jpg/landing/MainImage.png");
    background-size: cover;
}

.mainbg-title {
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 0.3fr 0.5fr 0.2fr 0.1fr 0.2fr;
    grid-template-rows: repeat(2, auto) 0.5fr;
    grid-template-areas: ". main-location . company-name help user-login signup " ". . mainbg-search mainbg-search . . ." ". quote quote quote . . .";
    padding-top: 35px;
}

.main-location {
    grid-area: main-location;
}

.company-name {
    grid-area: company-name;
    padding-bottom: 20px;
}

.mainbg .help {
    grid-area: help;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-login {
    grid-area: user-login;
}

.signup {
    grid-area: signup;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    object-fit: contain;
    font-size: medium;
}

.quote {
    grid-area: quote;
}

.main-location>*,
.help>*,
.signup>*,
.user-login>* {
    font-weight: 400;
    color: #282c34;
    cursor: pointer;
}

.mainbg-search {
    grid-area: mainbg-search;
    padding-bottom: 300px;
}

.mainbg-search input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}


/* explore category start */

.exploreCategory {
    /* display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: ". . h1 h1 h1 h1 . ." ". . span span span span . ." ". categories categories categories categories categories ." ". categories categories categories categories categories ."; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(214, 208, 208);
    padding: 30px 0px;
}

.exploreCategory-title,
.exploreKitchen-title,
.cookVideos-title {
    /* grid-area: h1; */
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.exploreCategory span,
.exploreKitchen span,
.cookVideos span {
    /* grid-area: span; */
    font-size: 18px;
}

.categories {
    /* grid-area: categories; */
    padding: 2% 10%;
}

.types {
    /* border: 1px solid black; */
    padding: 0px;
    max-width: min-content;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    margin-bottom: 30px
}

.types img {
    max-width: 80%;
}

.types span {
    margin-top: -50px;
    font-weight: 600;
}


/* explore category end */


/* explore kitchen :start  */

.exploreKitchen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(214, 208, 208);
    width: 100%;
    padding: 20px 0px;
    margin: 50px 0px;
}

.exploreKitchen-content {
    /* display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    grid-template-areas: "kitchen kitchen kitchen"; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10%;
}

.kitchen {
    grid-area: kitchen;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "kitchenImage kitchenImage" "kitchenName kitchenRating" "type . " "foodCost kitchenReviews";
    max-width: min-content;
    margin: 20px 2%;
    max-width: auto;
    max-height: auto;
}

.kitchenImage {
    grid-area: kitchenImage;
    max-width: fit-content;
}

.kitchenRating {
    grid-area: kitchenRating;
    margin-top: 25px;
}

.kitchenName {
    grid-area: kitchenName;
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}

.type {
    grid-area: type;
}

.foodCost {
    grid-area: foodCost;
}

.kitchenReviews {
    grid-area: kitchenReviews;
}

.kitchenReviews,
.kitchenRating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* expore kitchen end  */


/* .cookVideos start  */

.cookVideos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(214, 208, 208);
    width: 100%;
    padding: 20px 0px;
    margin: 50px 0px;
}

.cookVideos-content {
    margin: 0px 10%;
}


/* .cookVideos end  */


/* footer strat  */

.mainbg-footer {
    background-color: #2d2d2d;
    display: grid;
    grid-template-columns: 0.1fr repeat(4, auto) 0.1fr;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: ". footer-title footer-title footer-title footer-title ." ". . . . CompanyLink ." ". social social social AboutusLink . " ". social social social TnCLink ." ". . downloads . ContactusLink ." ". google-apple google-apple google-apple PrivacyPolicyLink ." ". google-apple google-apple google-apple FaqsLink ." ". line line line line ." ". last-line last-line last-line last-line .";
    width: 100%;
}

.footer-title {
    grid-area: footer-title;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.CompanyLink {
    grid-area: CompanyLink;
}

.social {
    grid-area: social;
}

.AboutusLink {
    grid-area: AboutusLink;
}

.TnCLink {
    grid-area: TnCLink;
}

.downloads {
    grid-area: downloads;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.ContactusLink {
    grid-area: ContactusLink;
}

.PrivacyPolicyLink {
    grid-area: PrivacyPolicyLink;
}

.google-apple {
    grid-area: google-apple;
}

.last-line {
    grid-area: last-line;
}

.FaqsLink {
    grid-area: FaqsLink;
}

.line {
    grid-area: line;
}

.mainbg-footer a {
    text-decoration: none;
    color: White;
    font-size: 20px;
    margin: 10px
}

.mainbg-footer img {
    max-width: 100%;
}

.google-apple,
.social,
.downloads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social>* {
    padding: 5px
}


/* footer end  */


/* landing heading end  */